* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(215,247,237);
    box-sizing: border-box;
    font-family: sans-serif
}
/*vvv*/
.menu-bar {
    background: rgb(0,100,0);
    text-align: center;
}

.menu-bar ul {
display: inline-flex;
list-style: none;
color: #fff;
}

.menu-bar ul li {
 width: 250px;
 margin: 15px;
padding: 15px
}

.menu-bar ul li a {
text-decoration: none;
 color: #fff;
}
            /*vvv*/
.active, .menu-bar ul li:hover {
background: #2bab0d;
border-radius: 3px;
}

.menu-bar .fa {
 margin-right: 8px;
 }

.mothrtbox {
padding: 300px 0 100px;
}
.social-media {
display: flex;
justify-content: space-evenly;
}
.social-media a {
display: flex;
background-color: rgb(215,247,237);
height: 75px;
width: 75px;
 margin: 0 15px;
border-radius: 20px;
align-items: center;
justify-content: center;
text-decoration: none;
box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255, 255,255,0.7);
border: 1px solid rgba(0,0,0,0);
transition: transform 0.5s;
}
.social-media a i {
font-size:35px;
color: goldenrod;
transition: transform 0.5s;
    
}
.social-media a i:hover {
border: 1px solid rgba(0,0,0,0.01);
transform: translateY(-2px);
}

    